.form-group {
	width: 100%;
	margin-bottom: 1.5rem;
	position: relative;
}

.form-control {
	display: block;
	width: 100%;
	padding: .75rem .75rem .75rem 1.25rem;
	font-size: 1.35em;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius: .25rem;
	-moz-border-radius: .25rem;
	-ms-border-radius: .25rem;
	-o-border-radius: .25rem;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
	color: #212529;
	background-color: #fff;
	border-color: #86b7fe;
	box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
	outline: 0;
}

.form-group button {
	position: absolute;
	top: 50%;
	right: 7px;
	background: transparent;
	font-size: 1.75rem;
	cursor: pointer;
	font-weight: 800;
	color: #646566;
	padding: 0.36rem .45rem;
	border: 0;
	background-clip: padding-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

::placeholder {
	color: #212529;
	margin-left: 1.2em;
}
