* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #030721;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.form-container {
	max-width: 660px;
	text-align: center;
}

.todoList-container {
	width: 40rem;
}

.image-container {
	text-align: center;
	margin: 0 auto;
	width: 300px;
	height: 300px;
}

.image-container .todo-image {
	display: block;
	max-width: 100%;
	object-fit: contain;
	object-position: center;
}

h2.todo-title {
	color: #fff;
	font-size: 2.25em;
	font-weight: 600;
	margin-bottom: 1rem;
}

.error-container {
	background: rgba(255, 255, 255, 0.2);
	padding: 15px;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
	border-radius: 0.5rem;
	color: #ef0d0d;
	font-weight: 600;
	font-size: 1.45em;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	margin-bottom: 1.5rem;
	background-clip: padding-box;

	box-shadow: 0 0 0 .35rem rgba(8, 92, 218, 0.25);
}
