ol {
	list-style: none;
	padding: 0;
	margin: 0;
	counter-reset: counter;
}

ol li {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	counter-increment: counter;
	background: #5434de;
	padding: 0.75rem 0.85rem;
	color: hsl(0, 0%, 100%);
	font-weight: 600;
	font-size: 1.3em;
	-webkit-border-radius: 0.58rem;
	-moz-border-radius: 0.58rem;
	-ms-border-radius: 0.58rem;
	-o-border-radius: 0.58rem;
	border-radius: 0.58rem;
	box-shadow: 0 0 5px rgba(0, 0, 0, .35);
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
	overflow: hidden;
}

ol li span.todo-name {
	margin-left: 2.5em;
}

ol li::before {
	content: counter(counter);
	position: absolute;
	left: 0;
	top: 0;
	width: 3.5rem;
	height: 100%;
	background: #c12cea;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fffccc;
}

ol li.todo>div.action {
	display: inline;
}

ol li:hover {
	background: #fff;
	color: #7468b4;
}

ol li:hover div.action button .check-icon {
	color: rgb(56, 230, 79);
	font-size: 1.15em;
	font-weight: bolder
}

div.action button .delete-icon {
	display: none;
}

ol li:hover div.action button .delete-icon {
	color: hsl(0, 86%, 46%);
	font-weight: bolder;
	display: block;
}

div.action button {
	background: transparent;
	font-size: 1.1em;
	border: none;
	cursor: pointer;
	outline: none;
}

div.action button {
	color: #fff;
	margin-right: 1rem;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

ol li:hover .checked {
	color: #494e52;
}

.checked {
	text-decoration: line-through;
	opacity: 0.8;
	font-weight: 700;
}
