ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

ol li {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	background: #5434de;
	padding: 0.75rem 0.85rem;
	color: hsl(0, 0%, 100%);
	font-weight: 600;
	font-size: 1.3em;
	border-radius: 0.28rem;
	box-shadow: 0 0 5px rgba(0, 0, 0, .35);
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
	overflow: hidden;
}

ol li::before{
	position: absolute;
	content: '';
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0.35rem;
}
ol li:nth-child(even)::before{
	background: rgba(90, 236, 23, 0.972);
}

ol li:nth-child(odd)::before {
	background: rgba(236, 108, 23, 0.972);
}

ol li span.todo-name {
	margin-left: 2.5em;
}

#check-btn{
	padding: 75px;
}

ol li.todo>div.action {
	display: inline;
}

div.action button .edit-icon {
	color: rgb(56, 230, 79);
	font-size: 1.15em;
	font-weight: bolder;
}

div.action button .delete-icon {
	color: hsl(0, 86%, 46%);
	font-weight: bolder;
}

div.action button {
	background: transparent;
	font-size: 1.1em;
	text-align: center;
	border: none;
	cursor: pointer;
	outline: none;
	color: #fff;
	margin-right: 1rem;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.checked {
	text-decoration: line-through;
	opacity: 0.8;
	color: red;
	font-weight: 700;
}
